<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ config.title | escape }}</title>
</head>
<body>
	<h1>{{ config.title | escape }}</h1>
	<ul>
		{% for post in posts %}
		<li>
			<span>{{post.date|escape}}</span>
			<a href="{{post.url|escape}}">{{post.title|escape}}</a>
		</li>
		{% endfor %}
	</ul>
</body>
</html>