<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ config.title | escape }}</title>
</head>
<body>
	<h1>{{ post.title | escape }}</h1>
	<p>日期： {{ post.date | escape }}</p>
	<hr>
	<div class="post-content">
		{{ post.content }}
	</div>
</body>
</html>